<h1><%= title %></h1>

<p>
Time: <%= @timestamp %>.
<span class="text-muted">Quotas are updated approx. every 5 minutes.</span>
</p>

<p class="small">
If you go above your soft quota, you have a grace
period in which you can still write data to your volume.
Once the grace period has passed, no more data can be written to the volume.
If you use more data than the hard quota then this restriction will apply immediately.
</p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>path</th>
      <th>block usage</th>
      <th>block soft limit</th>
      <th>block hard limit</th>
      <th>block grace</th>
      <th>files usage</th>
      <th>files soft limit</th>
      <th>files hard limit</th>
      <th>files grace</th>
    </tr>
  </thead>
  <tbody>
    <% @quotas["quotas"].each do |rec| %>
    <tr
      <% if (rec.fetch("total_block_usage", 0) >= rec.fetch("block_limit", 0) or rec.fetch("total_file_usage", 0) >= rec.fetch("file_limit", 0)) %>=
         class="danger"
      <% elsif (rec.fetch("total_block_usage", 0) >= rec.fetch("block_soft_limit", 0) or rec.fetch("total_file_usage", 0) >= rec.fetch("file_soft_limit", 0)) %>=
         class="warning"
      <% end %>>
      <td class="text-left"><%= rec.fetch("path", "-") %></td>
      <td class="text-right"><%= fsize(rec.fetch("total_block_usage", 0)) %></td>
      <td class="text-right"><%= fsize(rec.fetch("block_soft_limit", 0)) %></td>
      <td class="text-right"><%= fsize(rec.fetch("block_limit", 0)) %></td>
      <td class="text-right"><%= rec.fetch("block_grace", "-") %></td>
      <td class="text-right"><%= sisize(rec.fetch("total_file_usage", 0)) %></td>
      <td class="text-right"><%= sisize(rec.fetch("file_soft_limit", 0)) %></td>
      <td class="text-right"><%= sisize(rec.fetch("file_limit", 0)) %></td>
      <td class="text-right"><%= rec.fetch("file_grace", "-") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
